<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

<body>
  <title>El Buen manga</title>
  </head>
  <script src="../controller.js"></script>

  <body>
    <header>
      <h1 class="d-flex justify-content-center">El Buen Manga</h1>
    </header>
    <ul class="image-list">
      <% data.forEach(manga=> { %>
        <li>
          <div class="image-container" onmouseover="iniciarAnimacion(event)" onanimationend="detenerAnimacion(this)">
            <p>
              <%= manga.titulo %>
            </p>
            <a href="/manga/<%= manga.titulo%>"><img src="<%= manga.portada %>" alt="manga_portada"
                id="<%= manga._id %>" /></a>
          </div>
        </li>
        <% }) %>
    </ul>


    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script>
      function iniciarAnimacion(evento) {
        const elemento = evento.target;
        elemento.style.animation = 'jello-vertical .9s';
      
      }
      function detenerAnimacion(elemento) {
        elemento.style.animation = 'none';
      } F
    </script>


  </body>

</html>